<%= form_for(@teacher) do |form| %>
<label>First Name</label><br>
<%= form.text_field :first_name %> <br>

<label>Last Name</label><br>
<%= form.text_field :last_name %> <br>

<label>Age</label><br>
<%= form.number_field :age %> <br>

<label>Salary</label><br>
<%= form.number_field :salary %> <br>


<label>Education</label><br>
<%= form.select :education, ["", "Highschool Diploma", "Bachelor's Degree", "Master's Degree", "Ph.D"]%>
<br><br>

<%= form.submit "Save", {class: "btn btn-success"}%>

<% end %>
<br>
<%= link_to "Back", :back %>